{
  "$schema": "http://json.schemastore.org/prettierrc",
  "tabWidth": 2,
  "bracketSpacing": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["**/*.yml"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["custom/overrides.json"],
      "options": {
        "printWidth": "180"
      }
    }
  ]
}
