<%- contentFor('body') %>

<h1>Docs for mdn-bcd-collector project</h1>

<ul>
<% for (const [k, v] of Object.entries(docs)) { %>
  <li><a href="/docs/<%- k %>"><%- v %> (<%- k %>)</a></li>
<% } %>
</ul>
