<!--
mdn-bcd-collector: views/extensioncheck.ejs
Snippet to check for problematic extensions and report them to the user + server

© Gooborg Studios
See the LICENSE file for copyright details
-->

<div id="extension-warnings" class="paper hidden">
  <h2><span class="mdi mdi-alert"></span> Problematic Extensions Detected</h2>
  <div id="extension-warnings-extensions">

  </div>
  <hr />
  <p id="extension-warnings-disable-or-switch">Please disable these extensions or switch to a profile that does not use them.</p>
</div>

<script>
  (function() {
    var container = document.getElementById('extension-warnings-extensions');
    var doSend = <%- locals.sendToServer || false %>;

    function checkUrl(url, callback) {
      var client = new XMLHttpRequest();

      client.open('GET', url);
      client.send();
      client.onreadystatechange = function () {
        if (client.readyState == 4) {
          if (client.status >= 200 && client.status <= 299) {
            callback(true);
          } else {
            callback(false);
          }
        }
      };
    }

    function checkChromeExtension(id, callback) {
      if (id) {
        checkUrl('chrome-extension://' + id + '/assets/manifestIcons/icon.svg', callback);
      } else {
        callback(false);
      }
    }

    function checkFirefoxExtension(id, callback) {
      if (id) {
        checkUrl('moz-extension://' + id + '/assets/manifestIcons/icon.svg', callback);
      } else {
        callback(false);
      }
    }

    function checkSafariExtension(id, callback) {
      if (id) {
        checkUrl('safari-extension://' + id + '/assets/manifestIcons/icon.svg', callback);
      } else {
        callback(false);
      }
    }

    function checkExtension(options, callback) {
      checkChromeExtension(options.chromeId, function(result) {
        if (result) {
          callback('chrome');
        } else {
          checkFirefoxExtension(options.firefoxId, function(result) {
            if (result) {
              callback('firefox');
            } else {
              checkSafariExtension(options.safariId, function(result) {
              if (result) {
                callback('safari');
              } else {
                callback(false);
              }
            });
            }
          });
        }
      })
    }

    function renderNote(extension) {
      var el = document.createElement('div');

      var elHdr = document.createElement('h3');
      elHdr.innerText = extension.name;
      el.appendChild(elHdr);
      var elTxt = document.createElement('p');
      elTxt.innerText = extension.message;
      el.appendChild(elTxt);

      container.appendChild(el);

      container.parentElement.classList.remove('hidden');
    }

    function sendToServer(foundExtensions) {
      var client = new XMLHttpRequest();

      client.open('POST', '/api/browserExtensions');
      client.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
      client.send(JSON.stringify(foundExtensions));
    }

    function checkExtensions(extensions) {
      if (!('XMLHttpRequest' in self)) {
        // Detection methods aren't supported, skip
        return;
      }

      if (!('keys' in Object)) {
        // A browser that doesn't have Object.keys probably doesn't have extensions
        return;
      }

      var extensionsToCheck = Object.keys(extensions);
      var remaining = extensionsToCheck.length;

      var foundExtensions = [];

      extensionsToCheck.forEach(function(k) {
        var extension = extensions[k];
        checkExtension(extension, function(result) {
          if (result) {
            foundExtensions.push(k);
          }
          remaining--;

          if (remaining == 0 && doSend) {
            sendToServer(foundExtensions);
          }

          if (result) {
            renderNote(extension);
          }
        });
      });
    }

    checkExtensions(<%- JSON.stringify(browserExtensions) %>);
  })();
</script>
