name: Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write
  deployments: write

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout commit
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Check for version change
        id: check
        uses: EndBug/version-check@v2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Configure Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "github-actions@users.noreply.github.com"
      - name: Tag new release
        if: steps.check.outputs.changed == 'true'
        run: |
          git tag v${{steps.check.outputs.version}}
          git push origin v${{steps.check.outputs.version}}
      - name: Deploy to Heroku
        if: steps.check.outputs.changed == 'true'
        uses: akhileshns/heroku-deploy@v3.13.15
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "mdn-bcd-collector"
          heroku_email: ${{secrets.HEROKU_EMAIL}}
      - name: Checkout mdn-bcd-results
        uses: actions/checkout@v4
        if: steps.check.outputs.changed == 'true'
        with:
          repository: openwebdocs/mdn-bcd-results
          path: mdn-bcd-results
          token: ${{ secrets.GOOBORG_BOT_GH_TOKEN }}
      - name: Configure Git (mdn-bcd-results)
        if: steps.check.outputs.changed == 'true'
        run: |
          cd mdn-bcd-results
          git config user.name "GitHub Actions"
          git config user.email "github-actions@users.noreply.github.com"
          cd ..
      - name: Remove old results
        if: steps.check.outputs.changed == 'true'
        run: |
          cd mdn-bcd-results
          git rm *.json
          git commit -m "Remove old results"
          cd ..
      - name: Run Selenium and collect results
        if: steps.check.outputs.changed == 'true'
        run: |
          npm install -D typescript
          npm install -D tsx
          RESULTS_DIR=mdn-bcd-results npm run selenium
        env:
          SECRETS_JSON: ${{secrets.SECRETS_JSON}}
      - name: Submit all results to the results repo
        if: steps.check.outputs.changed == 'true'
        run: |
          cd mdn-bcd-results
          git add *.json
          git commit -m "Selenium v${{steps.check.outputs.version}} results"
          git push origin main
          cd ..
