name: Test

on:
  push:
  pull_request:

permissions:
  contents: read
  pull-requests: read

env:
  FORCE_COLOR: 3
  BCD_DIR: ./browser-compat-data
  RESULTS_DIR: ./mdn-bcd-results

jobs:
  test:
    strategy:
      matrix:
        include:
          - name: Linux
            runs-on: ubuntu-22.04
          # - name: macOS
          #   runs-on: macos-latest
    name: Test (${{ matrix.name }})
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Clone collector
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Clone browser-compat-data
        uses: actions/checkout@v4
        with:
          repository: mdn/browser-compat-data
          path: browser-compat-data
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
      - name: Checkout mdn-bcd-results
        uses: actions/checkout@v4
        if: steps.check.outputs.changed == 'true'
        with:
          repository: openwebdocs/mdn-bcd-results
          path: mdn-bcd-results
      - name: Prepare browser-compat-data
        run: npm ci
        working-directory: browser-compat-data
      - run: npm ci
      - run: npm run format
      - run: npm run build
      - run: npm run unittest
      # ensure we can start the server without dev dependencies
      - name: Production smoke test
        run: |
          npm ci --production
          npm start &
          npx wait-on -t 10000 -v http://localhost:8080
        env:
          NODE_ENV: production
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
